.loginWrapper{
    padding: 2%;
}

.headSection{
    display: flex;
    align-items: center;
    position: fixed;
}

.wallet {
    display: inline-block;
    vertical-align: middle
}

.accountSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}


  