html, body {
    height: 100%;
  }

  *{
    margin: 0px;
  }
  .wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .name {
    display: flex;
    justify-content: space-between;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  .card > img{
    max-width: 100%;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
    }
  }





  .grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 20px;
    /* align-items: start; */
    
  }
  
  .grid > article {
    border-radius: 15px;
    padding: 2%;
    box-shadow: 2px 2px 6px 0px rgba(255, 251, 251, 0.3);
    transition: 0.5s;
  }

  article:hover {
    transform: translateY(-20px);
  }
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    padding: 20px;
  	align-items: center;
  }

  .login-wrapper{
    padding: 2%;
  }

/* CSS */
.button-22 {
  align-items: center;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 0px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-22:hover {
  background-color: #1C84FF;
}

.account_section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.nfts{
  padding : 5%;
  margin-top: 5%;
}

.wallet {
  display: inline-block;
  vertical-align: middle
}

.logout{
  text-align: right;
  right: 40px;
  position: fixed;
  align-items: center;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
}
.logout:hover{
  background-color: #1C84FF;
}

.logout_btn{
  vertical-align: middle
}
.head_section{
  display: flex;
  align-items: center;
  position: fixed;
}

.no_nfts_section{
  padding : 5%;
  width : 80vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty_header{
  color: #06414e;
}



/* //// */
