html, body {
    height: 100%;
  }

  *{
    margin: 0px;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
    }
  }






  

  
  

/* CSS */
.button-22 {
  align-items: center;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 0px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-22:hover {
  background-color: #1C84FF;
}

.account_section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}



.wallet {
  display: inline-block;
  vertical-align: middle
}


.head_section{
  display: flex;
  align-items: center;
  position: fixed;
}






/* //// */
